* {
    box-sizing: border-box;
    font-family: 'NarkisBlock', sans-serif;
    direction: rtl;
    background: #f5f5f5;
    color: #242424;
    /* font-feature-settings:"kern" 1;
    font-kerning: normal; */
}

/* declaring global CSS variables */
:root {
  --page-margins: 7.5%;
  --textsize: 3vw;
  --notessize: 1.5vw;
}

/* font declerations */
@font-face {
    font-family: 'NarkisBlock';
    src: url('VC_NarkisBlock-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'NarkisBlockBold';
    src: url('VC_NarkisBlock-Bold.otf');
    font-weight: bold;
}

body{
  width: 100%;
  position: absolute;
  padding: var(--page-margins);
  overflow-x: hidden;
  margin: auto;
}

.content{
  max-width: 800px;
  font-size: var(--textsize);
  /* font-size: 10px; */
}

b{
  font-family: 'NarkisBlockBold';
  color: inherit;
}

blockquote {
  /*  TODO left side? */
 margin-right: 6%;
 color: #197EFF;
 max-width: 700px;
}

/* #FF0DAF pink */

.chaptertitle{
  color: #FFB701;
  font-size: 4.5vw;
}

.ceremonyActions{
  color: #FF6B0D;
}

header{
  width:100%;
  padding: 0;
}

nav{
  font-size: 1.6vw;
  width:100%;
  padding: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  color: gray;
}

nav>a{
  color: gray;
  text-decoration: none;
}

footer{
  padding-top: 5%;
  text-align: center;
  font-size: 1.2vw;
  color: gray;
  /* TODO vertically on the left? */
}

footer>a{
  color: gray;
}

.controllers{
  position: fixed;
  left: 10px;
  top: 10px;
}

.controllers>input{
  font-family: sans-serif;
  width: 3vw;
  /* width: 40px; */
  max-width: 50px;
  color: gray;
  font-size: var(--textsize);
  margin-right: 0;
}

.controllers>input:focus{
  outline: none;
}
