* {
    box-sizing: border-box;
    font-family: 'NarkisBlock', sans-serif;
    direction: rtl;
    background: #f5f5f5;
    color: #242424;
    /* font-feature-settings:"kern" 1;
    font-kerning: normal; */
}

/* declaring global CSS variables */
:root {
  --page-margins: 7.5%;
  --textsize: 3vw;
  --notessize: 2vw;
}

/* font declerations */
@font-face {
    font-family: 'NarkisBlock';
    src: url('VC_NarkisBlock-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'NarkisBlockBold';
    src: url('VC_NarkisBlock-Bold.otf');
    font-weight: bold;
}

body{
  width: 100%;
  position: absolute;
  padding: var(--page-margins);
  overflow-x: hidden;
  margin: auto;
}

.content{
  max-width: 800px;
  font-size: var(--textsize);
  /* padding-top: 5%; */
  counter-reset: line;
}

b{
  font-family: 'NarkisBlockBold';
  color: inherit;
}

blockquote {
 margin-right: 6%;
 color: #197EFF;
 max-width: 700px;
}

/* #FF0DAF pink */

.chaptertitle{
  color: #FFB701;
  font-size: 4.5vw;
}

.ceremonyActions{
  color: #FF6B0D;
}

header{
  width:100%;
  padding: 0;
}

nav{
  font-size: var(--notessize);
  text-align: center;
  color: gray;
  padding-left: 17%;
  padding-right: 17%;
  width:100%;
}

nav>a{
  color: gray;
  text-decoration: none;
  font-size: var(--notessize);
}

footer{
  padding-top: 5%;
  text-align: center;
  font-size: var(--notessize);
  color: gray;
}

footer>a{
  color: gray;
}

.controllers{
  position: fixed;
  left: 5%;
  top: 10%;
  background-color: transparent;
  /* background-color: blue; */
}

input{
     width:100%;
     display:inline;
}

.controllers>input{
  background-color: transparent;
  font-family: sans-serif;
  width: 4vw;
  /* width: 40px; */
  max-width: 50px;
  color: gray;
  font-size: var(--textsize);
  margin-right: 0;
}

.controllers>input:focus{
  outline: none;
}

/* paragraph numbers */
.content .newpar{
    display: inline;
}

/* br{
  counter-increment: line;
} */

.content .newpar:before{
    counter-increment: line;
    content: counter(line);
    display: inline;
    /* font-size: var(--textsize); */
    font-size: inherit;
    /* margin-left: 0.5em;
    margin-right: -1.5em; */
    margin-left: 1ex;
    margin-right: -2.6ex;
    -webkit-user-select: none;
}
